body {
    background-color: #f4edde;
}

#choixCoup {
    display: flex;
    justify-content: center;
}

.container-resultat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultat {
    width: 25%;
    margin: 5px;
    border: solid 3px black;
}

.resultat p {
    display: flex;
    justify-content: center;
}

#choixCoup button {
    background-color: rgb(78, 144, 199);
    border: 2px;
    padding: 10px 10px;
    margin: 2px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 10%;
    height: 10%;
}

#choixCoup button:hover {
    background-color: rgb(133, 188, 233);
}
