#choixCoup,
#resultat {
    display: flex;
    justify-content: center;
}

#choixCoup button {
    background: none;
    color: inherit;
    border: 2px;
    padding: 10px 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
